$violet: #4A00E0;
$purple: #8E2DE2;

$light-pink: #F8D7DA;
$pink: #E535AB;
$dark-pink: #D424AA;

$light-red: #FD4C5A;
$red: #F00;
$dark-red: #C00;

$light-green: #E4FFE5;
$green: #0F0;
$dark-green: #28B500;

$white: #FFF;
$concrete-grey: #F2F2F2;
$light-grey: #E7E7E7;
$grey: #555;
$dark-grey: #222;
$black: #000;
