@import 'scss/variables/colors';

@mixin cross($height: 25px, $width: 25px, $background-color: $white, $thickness: 2px) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: $height;
  width: $width;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: $thickness;
    background-color: $background-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
